﻿@model AnimalViewModel

@{
    ViewBag.Title = "Animals <3";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>


    <h3>Add animal</h3>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Animal.Name" class="control-label"></label>
                    <input asp-for="Animal.Name" class="form-control" />
                    <span asp-validation-for="Animal.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Animal.Type" class="control-label"></label>
                    <input asp-for="Animal.Type" class="form-control" />
                    <span asp-validation-for="Animal.Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Animal.Birthdate" class="control-label"></label>
                    <input asp-for="Animal.Birthdate" class="form-control" />
                    <span asp-validation-for="Animal.Birthdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>


<h3>Animal list</h3>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Birthdate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var animal in Model.Animals)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => animal.Name)</td>
            <td>@Html.DisplayFor(modelItem => animal.Type)</td>
            <td>@Html.DisplayFor(modelItem => animal.Birthdate)</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = animal.Id}, null)</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = animal.Id}, null)</td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}